/* styles for newWindow */
.newwindow-active .assistive-text {
	display: inline-block;
	margin-left: 5px;
	text-indent: -9999px;
	overflow:hidden;
	width: 12px;
	height: 100%;
	background: url('new-window.png') no-repeat;
}
.newwindow-active:hover .assistive-text,
.newwindow-active:active .assistive-text,
.newwindow-active:focus .assistive-text {
	background-position: 0 -100px;
}